---
title: About Us
heading: What We Do
subtitle: In an environment where new software and development technologies are propagating at an unprecedented pace, organizations need to be strategic in how they choose to invest their capital. In mathematics, the second derivative measures just that – how quickly change itself is changing. Let us show you how to outpace the change.
order: 1
---

<section class="diagonal patterned">
	<div class="container">
		<h2>
			Our Team
		</h2>
		<p class="subtext">
			Meet our team.
		</p>

	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<div class="sd-staff-list flexbox-container flex-align-content-center flex-justify-center">
			{% assign members = site.staff_members | sort: 'order' %}
			{% for member in members %}
				<div class="sd-staff-item">{% include staff-member.html member=member %}</div>
			{% endfor %}
		</div>
	</div>
</section>
