.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero {
		color: #ffffff;
		background: $brand-color;
		text-align: left;
		margin-top: -100px;
		padding-top: 250px;

		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 2.6rem;
		}

		p {
			font-size: 1.2rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}

		@media #{$mid-point} {
			h2 {
				font-size: 3.5rem;
			}

			p {
				font-size: 1.8rem;
			}
		}
	}

	&.alternate {
		background: #eee;
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none !important;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 20px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}

		&.no-border {
			border: none;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}

// Padding

.sd-pad-top-xs {
	padding-top: 5px;
  }

  .sd-pad-top-sm {
	padding-top: 10px;
  }

  .sd-pad-top-md {
	padding-top: 15px;
  }

  .sd-pad-top-lg {
	padding-top: 20px;
  }

  .sd-pad-top-xl {
	padding-top: 25px;
  }

  .sd-pad-right-xs {
	padding-right: 5px;
  }

  .sd-pad-right-sm {
	padding-right: 10px;
  }

  .sd-pad-right-md {
	padding-right: 15px;
  }

  .sd-pad-right-lg {
	padding-right: 20px;
  }

  .sd-pad-right-xl {
	padding-right: 25px;
  }

  .sd-pad-bottom-xs {
	padding-bottom: 5px;
  }

  .sd-pad-bottom-sm {
	padding-bottom: 10px;
  }

  .sd-pad-bottom-md {
	padding-bottom: 15px;
  }

  .sd-pad-bottom-lg {
	padding-bottom: 20px;
  }

  .sd-pad-bottom-xl {
	padding-bottom: 25px;
  }

  .sd-pad-left-xs {
	padding-left: 5px;
  }

  .sd-pad-left-sm {
	padding-left: 10px;
  }

  .sd-pad-left-md {
	padding-left: 15px;
  }

  .sd-pad-left-lg {
	padding-left: 20px;
  }

  .sd-pad-left-xl {
	padding-left: 25px;
  }

  //text color
  .text-white {
	  color: #fff;
  }

  //basic flexbox classes
  .flexbox-container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		&.reverse {
			flex-direction: row-reverse;
		}
  }

  .flexbox-container-column {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
  }

  .flexbox-child {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
  }

  .flexbox-child-half-basis {
		-webkit-flex: 1 0 50%;
		-ms-flex: 1 0 50%;
		flex: 1 0 50%
  }

  .flexbox-child-grow {
		flex: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
  }

  .flex-align-center {
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
  }

  .flex-align-bottom {
		align-items: flex-end;

		label {
			margin-bottom:0;
		}
  }
  .flex-align-content-center{
	  align-items:center;
  }

  .flex-align-content-stretch {
		align-items: stretch;
  }

  .flex-align-items-start {
		align-items: flex-start;
  }

  .flex-align-items-baseline {
		align-items: baseline;
  }

  .flex-justify-content-space-between {
		justify-content: space-between;
  }

  .flex-justify-content-space-around {
		justify-content: space-around;
  }

  .flex-justify-center {
		justify-content: center;
  }

  .flex-justify-content-start {
		justify-content:flex-start;
  }

  .flex-justify-content-end {
		justify-content: flex-end;
  }

  .flex-wrap {
		flex-wrap:wrap;
  }

  .flex-nowrap {
		flex-wrap: nowrap;
  }

  .flex-grow {
		flex-grow: 1;
  }

  .flex-container-align-center {
		display:flex;
		align-items: center;
		flex-wrap: wrap;

		&.flex-nowrap {
			flex-wrap: nowrap;
	}
  }

  .flex-container-align-justify-center{
		display:flex;
		align-items: center;
		justify-content:center;
  }

  .flex-container-column-align-justify-center{
		display:flex;
		align-items: center;
		justify-content:center;
		flex-direction: column;
  }
  .flex-base-text{
	  align-items:baseline;
  }

@media (max-width: 450px) {
	.mobile-reverse {
		flex-direction: column-reverse;
	}
}

// our custom styles - prob should move this to it's on file
.y-prime-logo {
	border: 2px solid #fff;
	text-align: center;
	padding: 2px 4px 4px 10px;
}

.sd-header-logo {
	display: none;

	@media #{$mid-point} {
		display: inline;
	}
}

.sd-hero-section {
	text-align: center;
	font-size: 0.75em;

	.sd-logo-container {
		display: block;

		.y-prime-logo {
			width: 100px;
			height: 100px;
			font-size:4.5rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	/*style for midpoint and above*/
	@media #{$mid-point} {
		text-align: left;

		.sd-logo-container {
			display: none;
		}
	}
}

.sd-offerings-list {
	padding-left: 0;

	.sd-offering {
		font-size: 1.5em;
		color: #fff;
		list-style: none;
		padding-top: 15px;

		i, span {
			vertical-align: middle;
			display: inline;
			text-align: center;
			display: block;
		}

		i {
			font-size: 2em;
		}
	}

	@media #{$mid-point} {
		padding-left: 20px;

		.sd-offering > span {
			padding-left: 15px;
		}
	}

	@media #{$desktop} {
		.sd-offering {
			i, span {
				display: inline;
			}
		}
	}
}

.sd-tech-section {
	.image-grid {
		li {
			text-align: center;

			img {
				height: 100px;
				width: 100px;
				min-width: 100px;
			}
		}
	}
}

.sd-staff-list {
	.sd-staff-item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 380px;
		width: 300px;
		margin: 20px;

		.staff-image {
			img {
				flex-shrink:0;
				min-width:100%;
				min-height:100%
			}
		}

		.details {
			line-height: 1.2;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
			padding: 20px;
		}

		.name {
			font-size: 1.3rem;
			color: $brand-color;
		}

		.position {
			margin-top: 5px;
			color: #fff;
		}
	}
}